<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :deadline %>
    <%= form.date_field :deadline, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>