<h1>タスク詳細</h1>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>タスク詳細:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>終了期限:</strong>
  <%= @task.deadline.strftime('%Y-%m-%d') %>
</p>

<p>
  <strong>登録日時:</strong>
  <%= @task.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>優先順位:</strong>
  <%= @task.priority %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
