<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<% if @user.admin_flg %>
  <p>管理者権限: あり</p>
<% else %>
  <p>管理者権限: なし</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>タスク詳細</th>
      <th>終了期限</th>
      <th>登録日時</th>
      <th>ステータス</th>
      <th>優先順位</th>
    </tr>
  </thead>

  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline.strftime('%Y-%m-%d') %></td>
        <td><%= task.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>