<!DOCTYPE html>
<html>
  <head>
    <title>ManyoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <% if logged_in? %>
        <%= link_to "タスク一覧", tasks_path %>
        <%= link_to "マイページ", user_path(current_user.id) %>
        <%= link_to "管理画面", admin_users_path %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_path %>
        <%= link_to "ログイン", new_session_path %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
